@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --bg: #ffffff;
  --text: #0f172a;
  --muted: #6b7280;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

.router-link-active {
  color: #2563eb;
}